In [1]:
x= "habil"
y= "daniel"

In [2]:
x+y

'habildaniel'

In [3]:
x+" "+y

'habil daniel'

In [4]:
x*6

'habilhabilhabilhabilhabilhabil'

In [5]:
x[2]

'b'

In [6]:
name = input("Enter First name: ")

Enter First name:  Daniel

In [7]:
print(name)

Daniel

In [8]:
for i in range (11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [10]:
for chr in name:
     print(chr)

D
a
n
i
e
l

In [22]:
for i in range( 1,4,3):
    print (i)

1

In [1]:
# This is a single line comment

In [2]:
name = 'Habil'
print(name[4])

l

In [9]:
#1,2,3,4,5,6,7,8,9,10
for x in range(1,11):
     print(x,end=",")

1,2,3,4,5,6,7,8,9,10,

In [10]:
#1,2,3,4,5,6,7,8,9,10
total = 0
for x in range(1,11):
     total+=x
     print(x, end = ",")

print('\n', total)

1,2,3,4,5,6,7,8,9,10,
 55

In [11]:
x=int(input("Enter age: "))
y=int(input("Enter age: "))
z=int(input("Enter age: "))
xy=int(input("Enter age: "))

total = x+y+z+xy
average = total/4

print(total, average)

Enter age:  20
Enter age:  12
Enter age:  21
Enter age:  23

76 19.0

In [12]:
total = 0
for x in range(4):
    x = int(input("Enter age"))
    total +=x
    print(x, end=",")

print('\n', total, total/4)

Enter age 20

20,

Enter age 21

21,

Enter age 21

21,

Enter age 23

23,
 85 21.25

In [16]:
a=int(input("Enter score: "))
b=int(input("Enter score: "))
c=int(input("Enter score: "))
d=int(input("Enter score: "))
cd=int(input("Enter score: "))


average = total/5

print(average)

Enter age:  20
Enter age:  21
Enter age:  22
Enter age:  23
Enter age:  24

22.0

In [17]:
total = 0
for x in range(5):
    x = int(input("Enter score"))
    total +=x
    print(x, end=",")

print('\n', average/5)

Enter score 20

20,

Enter score 21

21,

Enter score 22

22,

Enter score 23

23,

Enter score 24

24,
 4.4

In [23]:
count = 0
total = 0
while count < 4:
    x = int(input("Enter Age"))
    total +=x
    count += 1

print(total/count)

Enter Age 20
Enter Age 21
Enter Age 22
Enter Age 23

21.5

In [26]:
check = True
while check:
    name= input("name")
    if "Daniel" in name or 'daniel' in name:
        check = False

name baraka
name joe
name adiah
name dan
name daniel

In [ ]:
def checke_even_or_odd(number)
if number % 2 == 0:
    return "Even"
    or
    return "odd"
    print

In [ ]:
def main():
    try:
        
        num = int(input(""))